.view-submission {
	table {
		border-collapse: collapse;
		margin-top: 5px;
		width: 100%;
	}
	
	table td {
		cursor: pointer;
		padding: 5px 10px 5px 10px;
	}
	
	table tbody tr:hover {
		background-color: lightgray;
	}
	
	table tbody tr {
		border-bottom: 1px solid lightgrey;
	}
	
	table tbody tr:last-of-type {
		border-bottom: none;
	}
	
	table thead tr {
		background-color: #be323a;
		color: white;
	}
	
	div[data-areaid] {
		padding: 5px;
		font-weight: bolder;
	}
	
	div[data-areaid] > span {
		display: block;
		padding: 10px;
		margin-top: 20px;
		background-color: #be323a;
		color: white;
	}
	
	div[data-courseid] {
		padding: 5px;
		font-weight: bolder;
	}
	
	tr[data-submissioncpf] td {
		font-size: 15px;
		font-weight: normal;
	}
}