.view-submission table {
  border-collapse: collapse;
  margin-top: 5px;
  width: 100%; }

.view-submission table td {
  cursor: pointer;
  padding: 5px 10px 5px 10px; }

.view-submission table tbody tr:hover {
  background-color: lightgray; }

.view-submission table tbody tr {
  border-bottom: 1px solid lightgrey; }

.view-submission table tbody tr:last-of-type {
  border-bottom: none; }

.view-submission table thead tr {
  background-color: #be323a;
  color: white; }

.view-submission div[data-areaid] {
  padding: 5px;
  font-weight: bolder; }

.view-submission div[data-areaid] > span {
  display: block;
  padding: 10px;
  margin-top: 20px;
  background-color: #be323a;
  color: white; }

.view-submission div[data-courseid] {
  padding: 5px;
  font-weight: bolder; }

.view-submission tr[data-submissioncpf] td {
  font-size: 15px;
  font-weight: normal; }
