@media (min-width: 576px) {
  .enviar-conteudo.container {
    max-width: 540px; } }

.enviar-conteudo .custom-file {
  overflow: hidden; }
  .enviar-conteudo .custom-file .custom-file-label {
    font-size: 1rem;
    line-height: 1.6rem;
    padding-right: 130px; }
    .enviar-conteudo .custom-file .custom-file-label::after {
      content: "Selecionar" !important; }
  .enviar-conteudo .custom-file .small {
    line-height: 1em; }

.enviar-conteudo #customFileLabel {
  margin-top: -0.25em; }
