.enviar-conteudo {
	@media (min-width: 576px) {
		&.container{
			max-width: 540px;
		}
	}
	.custom-file {
		overflow: hidden;
		
		.custom-file-label {
			// height: auto;
			font-size: 1rem;
			line-height: 1.6rem;
			padding-right: 130px;
	
			&::after {
				content: "Selecionar" !important;
				// height: auto;
			}
		}

		.small {
			line-height: 1em;
		}
	}
	#customFileLabel {
		margin-top: -0.25em;
	}
}