.home .inscricao {
  color: white;
  background-color: #133b6c; }

.home .submissao {
  color: white;
  background-color: #d0332d; }

.home .squad-wrapper {
  padding-left: 0px;
  padding-right: 0px; }
  .home .squad-wrapper .squad {
    padding: 0px;
    min-width: 300px;
    width: min-content; }

@media (min-width: 992px) {
  .home.container {
    max-width: 960px; } }
