.home {
	.inscricao {
		color: white;
		background-color: #133b6c;
	}
	
	.submissao {
		color: white;
		background-color: #d0332d;
	}
	
	.squad-wrapper {
		padding-left: 0px;
		padding-right: 0px;
	
		.squad {
			padding: 0px;
			min-width: 300px;
			width: min-content;
		}
	}

	@media (min-width: 992px) {
		&.container{
			max-width: 960px;
		}	
	}
}