.submissao table {
  border-collapse: collapse;
  margin-top: 5px;
  width: 100%; }

.submissao table td {
  cursor: pointer;
  padding: 5px 10px 5px 10px; }

.submissao table tbody tr:hover {
  background-color: lightgray; }

.submissao table tbody tr {
  border-bottom: 1px solid lightgrey; }

.submissao table tbody tr:last-of-type {
  border-bottom: none; }

.submissao table thead tr {
  background-color: #be323a;
  color: white; }
