@font-face {
    font-family: 'font-awesome';
    src: url(/font/fontawesome-webfont.woff) format('woff');
}

.font-awesome {
    font-family: 'font-awesome';
}

a.clear, a.clear:hover {
    text-decoration: none;
}

.info {
    position: absolute;
    padding-top: 20px;
    // margin-top: -185px;
    color: white;
    box-sizing: border-box;
    line-height: 30px;
    overflow: auto;
}

body {
	background-color: #f2f2f2;
	font-family: Arial, Helvetica, sans-serif;
	color: #505050;
	font-size: 20px;
	margin: 0;

	&::before {
		content: "";
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 250px;
		background-color: #133b6c;
		z-index: -1;
	}
}

button.btn {
    color: white;
    font-weight: bold;
    background-color: #133b6c;
    border-radius: 0px;
}

.content {
    margin-top: 150px;
    background-color: white;
    padding: 40px;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-sizing: border-box;
    margin-bottom: 50px;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;

    div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 51px;
        height: 51px;
        margin: 6px;
        border: 6px solid #133b6c;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #133b6c transparent transparent transparent;

        &:nth-child(1) {
            animation-delay: -0.45s;
        }

        &:nth-child(2) {
            animation-delay: -0.3s;
        }

        &:nth-child(3) {
            animation-delay: -0.15s;
        }
    }

    @keyframes lds-ring {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }   
}

.incorrect {
    color: #cf1d1c;
}

.correct {
    color: #133b6c;
}

input {
    border-radius: 0 !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
        display:none;

        &:checked + .slider {
            background-color: #2196F3;
        }

        &:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        &:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;

        &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        &.round {
            border-radius: 34px;

            &:before {
                border-radius: 50%;
            }
        }
    }
}

/*
  Set the color of the icon
*/
svg path,
svg rect {
    fill: #133b6c;

    &.white {
        fill: white;
    }
}

.mini-status {
    display: inline;
    margin-left: 12px;
}

.button-loading {
    padding: 0;
    height: 46px;
}

input, label, .input-group-text {
    border-radius: 0 !important;
}

body {
    font-family: 'Open Sans', sans-serif !important;
}

/*input {
    padding: 10px;
    font-size: 20px;
    box-sizing: border-box;

    &[type=text], &[type=password] {
        width: 270px;
    }
}

label {
    font-size: 16px;
}

span {
    font-size: 16px;
}

select {
    padding: 10px;
    font-size: 15px;
    width: 100%;
    max-width: max-content;
}

.b-text {
	min-width: 100%;
	width: min-content;
	text-align: justify;
	word-wrap: break-word;
}

.question {
    font-size: 20px;
    line-height: 35px;
}

.icon {
    margin-right: 10px; 
}

.alert:before {
    content: "* Campos obrigatÃ³rios \a";
    white-space: pre;
    font-size: 15px;
    color: red;
}

.required:before {
    content: "* ";
    color: red;
}

.required-right:after {
    content: "*";
    position: absolute;
    margin-left: 10px;
    color: red;
}

.error {
    font-size: 16px;
    color: red;
}

input.form-control {
    border-radius: 0;
}

.logo {
    margin-bottom: 1em;
}

.parent-div {
    width: 1em;
}*/